body{
    display:grid;
    grid-template-columns: repeat(4, 9fr);
    margin: 10px 10px 10px 10px;
}
.title{
    margin-bottom: 10px;
    font-size: 25px;
}
.history{
    margin-bottom: 10px;
    font-size: 15px;
}
.left1{
    grid-template-rows: 1fr 1fr 2fr;
}
.col{
    margin: 0px 5px 0px 5px;
}
.tiger{
    font-weight: 400;
    font-size: 45px;
}
h1{
    font-size: 30px;
    font-weight: 100;
}
h2{
    font-size: 20px;
}
h3{
    font-size: 15px;
    font-weight: 100;
}